/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 80%;
  height: 497px;
  background: url('../../../content/images/imageaccueil.jpg') no-repeat center top;
  background-size: contain;
  min-height: 100vh;
  display: flex; /*body est le parent qui va gérer la répartition des enfants verticalement*/
  flex-direction: column; /*par défaut c'est en ligne (row)*/
}

.carreMod {
  /* Mieux vaut centrer le texte dans un
     cercle. */
  text-align: center;

  /* On fait attention à ce que le texte
     ne touche pas la bordure. On placera
     donc le texte avec un remplissage, ce
     qui donnera une meilleure impression
     pour le cercle. */
  padding: 1em;

  /* La bordure marquera le cercle. On
     pourrait également utiliser un arrière-
     plan car celui-ci aurait été contenu
     par border-radius */
  border: 0.5em solid rgb(255, 128, 128);

  /* Assurons-nous que la boîte soit carrée
     pour obtenir un cercle bien rond plutôt
     qu'une ellipse ;) */
  width: 20em;
  height: 20em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  background-color: #aed6f1;
  height: 500px;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: lightblue;
  border: 1px solid black;
}
.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: lightblue;
  border: 1px solid black;
}
.box3,
.box4,
.box5 {
  background-color: lightblue;
  border: 1px solid black;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.kicker {
  text-transform: uppercase;
  color: #ffebcd;
  font-weight: 400;
  font-size: 1.5rem !important;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  font-family: monospace;
}

h1.jumbo {
  font-size: 3.5rem;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11 {
  float: left;
}
.col-sm-1 {
  width: 8.3333333333%;
}
.col-sm-2 {
  width: 16.6666666667%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-4 {
  width: 33.3333333333%;
}
.col-sm-5 {
  width: 41.6666666667%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-7 {
  width: 58.3333333333%;
}
.col-sm-8 {
  width: 66.6666666667%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-10 {
  width: 83.3333333333%;
}
.col-sm-11 {
  width: 91.6666666667%;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-push-1 {
  left: 8.3333333333%;
}
.col-sm-push-2 {
  left: 16.6666666667%;
}
.col-sm-push-3 {
  left: 25%;
}
.col-sm-push-4 {
  left: 33.3333333333%;
}
.col-sm-push-5 {
  left: 41.6666666667%;
}
.col-sm-push-6 {
  left: 50%;
}
.col-sm-push-7 {
  left: 58.3333333333%;
}
.col-sm-push-8 {
  left: 66.6666666667%;
}
.col-sm-push-9 {
  left: 75%;
}
.col-sm-push-10 {
  left: 83.3333333333%;
}
.col-sm-push-11 {
  left: 91.6666666667%;
}
.col-sm-pull-1 {
  right: 8.3333333333%;
}
.col-sm-pull-2 {
  right: 16.6666666667%;
}
.col-sm-pull-3 {
  right: 25%;
}
.col-sm-pull-4 {
  right: 33.3333333333%;
}
.col-sm-pull-5 {
  right: 41.6666666667%;
}
.col-sm-pull-6 {
  right: 50%;
}
.col-sm-pull-7 {
  right: 58.3333333333%;
}
.col-sm-pull-8 {
  right: 66.6666666667%;
}
.col-sm-pull-9 {
  right: 75%;
}
.col-sm-pull-10 {
  right: 83.3333333333%;
}
.col-sm-pull-11 {
  right: 91.6666666667%;
}
.col-sm-offset-1 {
  margin-left: 8.3333333333%;
}
.col-sm-offset-2 {
  margin-left: 16.6666666667%;
}
.col-sm-offset-3 {
  margin-left: 25%;
}
.col-sm-offset-4 {
  margin-left: 33.3333333333%;
}
.col-sm-offset-5 {
  margin-left: 41.6666666667%;
}
.col-sm-offset-6 {
  margin-left: 50%;
}
.col-sm-offset-7 {
  margin-left: 58.3333333333%;
}
.col-sm-offset-8 {
  margin-left: 66.6666666667%;
}
.col-sm-offset-9 {
  margin-left: 75%;
}
.col-sm-offset-10 {
  margin-left: 83.3333333333%;
}
.col-sm-offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
#hero {
  padding: 0 0 12rem 0;
  background-color: #fef5e7;
}

#hero .hero-img {
  max-width: 360px;
  margin: 1 auto;
  display: block;
  position: relative;
  top: 1rem;
  animation: fadeInUp 600ms 0.2s;
  animation-fill-mode: both;
}

#hero {
  padding: 0 12rem 0;
  background-color: #aed6f1;
  height: 700px;
}

#hero h1 {
  color: #fff;
  animation: fadeInUp 600ms 0.2s;
  animation-fill-mode: both;
}
#hero p {
  font-size: 1rem;
  animation: fadeInUp 600ms 0.2s;
  animation-fill-mode: both;
}
#hero .btn {
  animation: fadeInUp 600ms 0.2s;
  animation-fill-mode: both;
}
#hero .btn.btn-secondary {
  color: #fff;
  border-color: #fff;
}
#hero .btn.btn-secondary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #1d2d35;
}

p {
  color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 0;
  letter-spacing: 0.25px;
  font-weight: 300;
}

.btn:focus {
  outline: 2px solid #fa496e;
}
.btn.full-width {
  width: 100%;
}
.btn.btn-primary {
  color: #fff;
  background-color: #fa496e;
  border-color: #fa496e;
}
.btn.btn-primary:hover {
  background-color: #f91746;
  border-color: #f91746;
}
.btn.btn-secondary {
  color: #fa496e;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fa496e;
}
.btn.btn-secondary:hover {
  background-color: #fa496e;
  border-color: #fa496e;
  color: #fff;
}

.phrase {
  font-weight: bold;
  color: #fff;
}
